<%= form_with(model: @friend, local: true) do |f| %>
  <div>
    <h2>編集</h2>
  </div>
  <div>
    <%= f.label :"お名前" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>