<div class="friends-wrapper">
  <aside id="page-title">
    <h1>人物リスト</h1>
    <h2>今度会うとき、何話す？</h2>
  </aside>
  <div class="friends-list">
    <% @friends.each do |friend| %>
      <div class="friends">
        <%= link_to friend.name, friend ,class:"friends-name"%>
        <%= link_to '削除', friend, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' },class:"friends-destroy"%>
      </div>
    <% end %>
    <%= link_to '人物追加', new_friend_path ,class:"friends-add-btn"%>
  </div>
</div>