<div class="friends-wrapper">
  <aside id="page-title">
    <h1>人物リスト</h1>
    <h2>今度会うとき、何話す？</h2>
  </aside>
  <div class="friends-list">
    <% @friends.each do |friend| %>
      <div class="friends">
        <%= link_to friend.name, friend ,class:"friends-name"%>
        <%= link_to edit_friend_path(friend) ,class:"name-edit-btn" do%>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to friend, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' },class:"friends-destroy-btn" do%>
          <i class="fas fa-backspace"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to '人物追加', new_friend_path ,class:"friends-add-btn"%>
  </div>
</div>


<!--スクロール時に見出し要素をヘッダーに固定 -->
<script>
$(function() {
  var $win = $(window),
      $main = $('main'),
      $aside = $('aside'),
      navHeight = $aside.outerHeight(),
      navPos = $aside.offset().top,
      fixedClass = 'is-fixed';
  $win.on('load scroll', function() {
    var value = $(this).scrollTop();
    if ( value > navPos ) {
      $aside.addClass(fixedClass);
      $main.css('margin-top', navHeight);
    } else {
      $aside.removeClass(fixedClass);
      $main.css('margin-top', '0');
    }
  });
});
</script>