<section class="chara_add">
  <div class="inner">
    <%= form_with(model: @friend, local: true) do |f| %>
      <div class="form_wrapper">
        <!-- フォームの上部の部分 -->
        <div class="form_top">
          <h2 class="section_title">友達追加</h2>
          <h3 class="sub-title">新しい友だちを登録しよう！</h3>
        </div>
        <!-- フォームのメイン部分 -->
        <div class="input_items">
          <!-- 名前の入力アイテム -->
          <div class="input_item">
            <div class="label_wrapper">
              <span class='label_required'>必須</span>
              <%= f.label :"お名前", class: 'label_cus' %>
            </div>
            <div class="field">
              <div class="fake" id="fake">（例）田中  太郎</div>
              <%= f.text_field :name, required: true, class: 'input_cus' %>
            </div>
          </div>
        </div>
        <!-- フォームのボトム部分 -->
        <div class="form_bottom">
          <%= f.submit "追加する", class: 'btn btn_cus' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<script>
  //新規登録・ログイン・人物追加画面=============================
  //【開始】プレースホルダー風の文字のアニメーション=======================
  var inputs = document.querySelectorAll('.field input')
  for (var i = 0, len = inputs.length; i < len; i++) {
    var input = inputs.item(i)
    input.addEventListener('click', (e) => {
      var target = e.target
      var label = target.previousElementSibling
      target.classList.add('focus')
      label.classList.add('move', 'focus')
    })
    input.addEventListener('blur', (e) => {
      var target = e.target
      var label = target.previousElementSibling
      if (target.value.length === 0) {
        label.classList.remove('move')
      }
      target.classList.remove('focus')
      label.classList.remove('focus')
    })
  }
  //【終了】プレースホルダー風の文字のアニメーション=======================
</script>