<h1>人物詳細</h1>
<% if @friend.user_id == current_user.id %>
  <p>
    <strong>名前:</strong>
    <%= @friend.name %>
  </p>
  <p>
    <strong>user_id:</strong>
    <%= @friend.user_id %>
  </p>
<% else %>
  <a>表示できません。</a>
<% end %>
<%= link_to '戻る', friends_path %>