/*-- 共通設定 --*/

/* フォントの設定 */

.main_title {
  font-size: 48px;
}

.section_title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.sub-title {
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0 0 10px;
}

/* 位置調整のcss */

/* inner */

.inner {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}

/* スマホサイズ時に、改行が行われるCSSクラスを停止 */

.br_sp {
  display: none;
}

/* position: relative; の親要素に対して上下中央揃えをつける */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/*-- 自作パーツ --*/

/*ヘッダー、メイン、フッターで構成した入力フォーム*/

.form_wrapper {
  box-shadow: -1px 2px 14px 0px;
  width: 600px;
  margin: 100px auto 120px;
  border-radius: 15px 15px 15px 15px;
}

/* フォームの上部の部分 */

.form_top {
  margin-bottom: 40px;
  background-color: #524E45;
  padding: 20px 0;
  border-radius: 15px 15px 0px 0px;
}

/*フォームのメインとなる真ん中の一番広い部分の設定*/

.input_items {
  margin: 0 20px;
  width: calc(100% - 40px);
}

/* ラベル + インプット部分の設定 */

.input_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* ラベル */

.label_cus {
  width: 170px;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
}

/* 入力フォーム テキスト用 */

.input_cus {
  width: calc(100% - 210px);
  -webkit-appearance: none;
  border: 1px solid rgba(82, 78, 69, 0.5019607843137255);
  border-radius: 5px;
  color: #524e45;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
}

input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

/*フォームのボトム部分*/

.form_bottom {
  padding-bottom: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ボタン ログイン, 新規登録 */

/* ボタン */

.btn_cus {
  font-size: 16px;
  display: inline-block;
  padding: 12px 32px;
  background-color: #ef8040;
  color: #fff;
  text-decoration: none;
  border: solid 3px #f98948;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
}

.btn_cus:hover, .btn_cus:focus {
  opacity: 0.5;
  transition: 0.3s;
}

.btn-cus::-moz-focus-inner {
  padding: 0;
  border: none;
}

/*-- 新規登録画面 開始 --*/

section {
  width: 100%;
}

.form_bottom {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-- 新規登録画面 終了 --*/

/*-- ログイン画面 開始 --*/

.login {
  width: 100%;
}

/*-- ログイン画面 終了 --*/

/* メディアクエリの設定 スマホサイズ 開始 */

@media (max-width:670px) {
  /* 位置調整のcss */
  /* inner */
  .inner {
    width: 95%;
  }
  /*-- 自作パーツ --*/
  /*ヘッダー、メイン、フッターで構成した入力フォーム*/
  .form_wrapper {
    width: 350px;
  }
  /* ラベル + インプット部分の設定 */
  .input_item {
    width: 100%;
    margin: 0 0 20px;
    flex-direction: column;
  }
  /* ラベル */
  .label_cus {
    margin-bottom: 10px;
  }
  /* 入力フォーム テキスト用 */
  .input_cus {
    width: auto;
    -webkit-appearance: none;
  }
  /* スマホサイズ時に、改行が行われるCSSクラスを実行 */
  .br_sp {
    display: block;
  }
}

/* メディアクエリの設定 スマホサイズ 終了*/