/* ユーザー詳細コンテンツ全体に適用 */
.friends-show-wrapper{
  width:480px;
  margin:0 auto;
  text-align: center;
}

/* 友達リストへのボタン */
.friends-index-btn{
  margin-top: 56px;
  display: inline-block;
  padding: 0.6em 2em;
  background-color: #f1f1efea;
  opacity: 0.9;
  color:#3b3a3b;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
  font-size:24px;
  width:328px;
}
.friends-index-btn:hover{
  opacity: 1;
  transition: 0.3s;
  background-color: #524E45;
  color: #fff;
}
.fa-address-book{
  margin-top: 32px;
  font-size:120px;
}

/* ユーザー編集、削除ボタン */
.user-btn{
  margin-top: 40px;
  display: inline-block;
  padding: 0.6em 2em;
  background-color: #ef8040;
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
  font-size:16px;
  width:220px;
}
.user-btn:hover{
  opacity: 1;
  transition: 0.5s;
}

/* スマホサイズレスポンシブ */
@media (max-width:415px){
  .friends-show-wrapper{
    width:100%;
    text-align: center;
    min-height: 100%;
  }
  .friends-index-btn{
    width:50%;
    margin-top:10px;
  }
  .user-btn{
    margin-top:15px;
  }
  .inner {
    width:95%;
    height: 100%;
    margin:0 auto;
    padding:0px;
  }
  .section_title{
    margin:0px;
  }
  .form_top{
    margin-bottom:0px;
  }
  .input_items{
    margin-top: 0px;
    padding:0px;
    width: 340px;
    padding: 20px 10px 0px 10px;
  }
  .input_item {
    width: 330px;
    display: flex;
    flex-direction: column;
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 80px;
  }
  .label_cus {
    font-size:14px;
    width:200px;
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 47px;
  }
  .wrapper{
    height: 300px;
  }
  .form_wrapper{
    width: 350px;
  }
  .label_wrapper{
    width:220px;
    margin-bottom: 5px;
    height:36px;
  }
  .checkBox_wrapper{
    margin-top: 0px;
    width: 280px;
  }
  .field{
    width: 330px;
  }
  .input_cus {
    width: 310px;
    height: 45px;
    padding: 0 12px;
  }
  .form{
    height:500px;
  }
  .sub-title-responsive{
    display: none;
  }
  .form_top{
    padding-bottom:5px;
  }
  .sub-title{
    padding-top:5px;
    letter-spacing: 3px;
  }
  .btn_cus{
    padding:8px 8px;
  }
}
